.continentStats {
  align-items: center;
  display: flex;
  height: auto;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 67rem;

  table {
    display: block;
    border: 1px solid #ccc;
    height: 33rem;
    overflow-y: scroll;
    justify-content: center;
    width: 75rem;
  }

  td {
    text-align: center;
    width: 75rem;
  }
}