.continentStats {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  table {
    border: 1px solid blue;
    height: 200px;
    width: 800px;
  }

  th {
    border-bottom: 1px solid black;
  }

  td {
    text-align: center;
  }
}