.globalContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-weight: 600;
  }

  &Stats{
    align-items: center;
    font-weight: bold;
    justify-content: center;
  }
}
